h1 {
    color: #0000ff;
    font-size: 30px;
    font-family: Georgia;
    background-color: black;
    width: 250px;
    height: 30px;
}
img {
    width: 250px;
    height: 250px;
}
.selected {
    color: red;
}
